body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white ;
}
#calculator{
  font-family: Arial, sans-serif;
  background-color: rgb(10, 8, 8);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: rgb(80, 62, 62);
  color: white;

}
#keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 25px;

}


button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color:rgb(51, 44, 44) ;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: rgb(107, 95, 95);
}
button:active{
  background-color: rgb(137, 123, 123);
}